port {{ port }}
proto {{ protocol }}
dev tun
ca {{ ovpn_dir }}/ca.crt
cert {{ ovpn_dir }}/server.crt
key {{ ovpn_dir }}/server.key
dh {{ ovpn_dir }}/dh.pem

server 10.8.0.0 255.255.255.0
ifconfig-pool-persist ipp.txt

{% if default_route %}
push "redirect-gateway def1 bypass-dhcp"
{% endif %}

{% for dns in dns_list.split() %}
push "dhcp-option DNS {{ dns }}"
{% endfor %}

keepalive 10 120
tls-auth {{ ovpn_dir }}/ta.key 0
cipher AES-256-GCM

user nobody
group nogroup

persist-key
persist-tun

status /var/log/openvpn/openvpn-status.log
log-append /var/log/openvpn/openvpn.log
verb 3
explicit-exit-notify 1

plugin /usr/lib/openvpn/openvpn-auth-ldap.so {{ ovpn_dir }}/auth-ldap.conf
verify-client-cert none
username-as-common-name

script-security 2
route-up /etc/openvpn/scripts/route-up-{{ app }}.sh
route-pre-down /etc/openvpn/scripts/route-down-{{ app }}.sh
