port __PORT__
proto __PROTOCOL__
dev tun
ca __OVPN_DIR__/ca.crt
cert __OVPN_DIR__/server.crt
key __OVPN_DIR__/server.key
dh __OVPN_DIR__/dh.pem

server 10.8.0.0 255.255.255.0
ifconfig-pool-persist ipp.txt

__DEFAULT_ROUTE_LINE__

__DNS_LIST_LINES__

keepalive 10 120
tls-auth __OVPN_DIR__/ta.key 0
cipher AES-256-GCM

user nobody
group nogroup

persist-key
persist-tun

status /var/log/openvpn/openvpn-status.log
log-append /var/log/openvpn/openvpn.log
verb 3
explicit-exit-notify 1

plugin /usr/lib/openvpn/openvpn-auth-ldap.so __OVPN_DIR__/auth-ldap.conf
verify-client-cert none
username-as-common-name

script-security 2
route-up /etc/openvpn/scripts/route-up-__APP__.sh
route-pre-down /etc/openvpn/scripts/route-down-__APP__.sh
